<?xml version="1.0" encoding="UTF-8"?>
<!--

    Licensed to Apereo under one or more contributor license
    agreements. See the NOTICE file distributed with this work
    for additional information regarding copyright ownership.
    Apereo licenses this file to you under the Apache License,
    Version 2.0 (the "License"); you may not use this file
    except in compliance with the License.  You may obtain a
    copy of the License at the following location:

      http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
    KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.

-->
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:util="http://www.springframework.org/schema/util"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:lang="http://www.springframework.org/schema/lang"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
    http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.5.xsd
    http://www.springframework.org/schema/lang http://www.springframework.org/schema/lang/spring-lang-2.5.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd">

    <!-- Configurable properties -->
    <bean id="primaryPropertyPlaceholderConfigurer" class="org.springframework.context.support.ExtendedPropertySourcesPlaceholderConfigurer">
      <property name="locations">
        <list>
          <value>classpath:/app-launcher.properties</value>
          <value>classpath:/simple-jsp.properties</value>

          <!--
           |  The following files optionally allow deployers to set or override many JasigWidgetPortlets
           |  configuration settings in a outside the control of the build/deploy cycle, SCM,
           |  and Tomcat.
           |
           |  Reasons for choosing that may include:
           |    - Desire to keep sensitive information out of your Git repository
           |    - Ability to change some common settings without a full build and deploy cycle
           |    - Building a WAR/EAR that is environment-independent.
           |
           |  Any property defined in the above files that is referenced in the Spring context
           |  may be overridden in one (or both) of these files.
           |
           |  The default location for overrides is ${CATALINA_HOME}/portal/overrides.properties;
           |  you can use a custom location by specifying PORTAL_HOME as a JVM startup argument 
           |  or as an environment variable.
           |
           |  The first two files (overrides.properties) are intended to contain properties,
           |  such as database secrets, that are shared with portlets (they read those property
           |  files also).  The latter two files
           |  (JasigWidgetPortlets_overrides.properties) are for properties
           |  that are specific to JasigWidgetPortlets (portlets should not read
           |  these files).
           +-->
          <value>file:${CATALINA_HOME}/portal/overrides.properties</value>
          <value>file:${PORTAL_HOME}/overrides.properties</value>
          <value>file:${CATALINA_HOME}/portal/JasigWidgetPortlets_overrides.properties</value>
          <value>file:${PORTAL_HOME}/JasigWidgetPortlets_overrides.properties</value>
        </list>
      </property>
      <property name="ignoreResourceNotFound" value="true" />
      <property name="ignoreUnresolvablePlaceholders" value="true"/>
    </bean>

    <bean id="propertyResolver" factory-bean="primaryPropertyPlaceholderConfigurer" factory-method="getPropertyResolver"/>
    <!--
     | Message source for this context, loaded from localized "messages_xx" files
     +-->
    <bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
        <property name="basenames">
            <list><value>messages</value></list>
        </property>
    </bean>

    <context:annotation-config/>
    <context:component-scan base-package="org.jasig.portlet.widget.service"/>

    <bean class="org.jasig.web.service.AjaxPortletSupportService"/>

    <lang:groovy id="dictionaryParsingService" 
        script-source="classpath:org/jasig/portlet/widget/service/DictionaryParsingServiceImpl.groovy"/>

    <!--
     | CACHE CONFIGUATION
     +-->

    <!-- EhCache Cache manager -->
    <bean id="cacheManager" class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean"
        p:configLocation="classpath:ehcache.xml"/>

    <bean id="definitionCache" class="org.springframework.cache.ehcache.EhCacheFactoryBean"
        p:cacheManager-ref="cacheManager" p:cacheName="definitionCache"/>

    <bean id="youTubeCache" class="org.springframework.cache.ehcache.EhCacheFactoryBean"
        p:cacheManager-ref="cacheManager" p:cacheName="youTubeCache"/>

    <!-- 
     | View resolvers, look for a named view bean before going to JSP resolution
     +-->
    <bean class="org.springframework.web.servlet.view.XmlViewResolver"
        p:order="0" p:location="/WEB-INF/context/views.xml"/>

    <bean id="jspViewResolver"
        class="org.springframework.web.servlet.view.InternalResourceViewResolver"
        p:order="10" p:cache="true" p:viewClass="org.springframework.web.servlet.view.JstlView"
        p:prefix="/WEB-INF/jsp/" p:suffix=".jsp"/>

    <!--
     | Always declare an 'exceptionResolver' bean with a 'defaultErrorView' 
     | because, in addition to other uses, it protects the portlet from 
     | failing when a bad request (due to a bug or malicious user) doesn't 
     | match any declared @RequestMapping. When this happens, the portlet 
     | throws an Exception and takes itself out of service until a portal 
     | restart. THIS CONDITION AFFECTS ALL USERS!
     +-->
    <bean id="exceptionResolver" class="org.springframework.web.portlet.handler.SimpleMappingExceptionResolver">
        <property name="defaultErrorView" value="error"/>
    </bean>

</beans>
