<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd"
	>
	
	<!--
		| Message source for this context, loaded from localized "messages_xx" files
		+-->
	<bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basenames">
			<list>
				<value>messages</value>
			</list>
		</property>                                     
	</bean>
	
	<!-- 
		| View resolvers, look for a named view bean before going to JSP resolution
		+-->
	<bean class="org.springframework.web.servlet.view.XmlViewResolver">
		<property name="order" value="0"/>
		<property name="location" value="/WEB-INF/context/views.xml"/>
	</bean>
	<bean id="jspViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="order" value="10"/>
		<property name="cache" value="true"/>
		<property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
		<property name="prefix" value="/WEB-INF/jsp/"/>
		<property name="suffix" value=".jsp"/>
	</bean>
	
	
	<bean id="modelPasser" class="org.jasig.web.util.DefaultModelPasser"/>

	<bean id="sessionKeyGenerator" class="org.jasig.web.util.DefaultSessionKeyGenerator">
		<property name="seed" value="0" />
	</bean>
	
	<bean id="requiredAnnotationBeanPostProcessor" class="org.springframework.beans.factory.annotation.RequiredAnnotationBeanPostProcessor" />
</beans>